<%= form_for(cause) do |f| %>
  <% if cause.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cause.errors.count, "error") %> prohibited this cause from being saved:</h2>

      <ul>
      <% cause.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title, :class => 'login-label' %>
    <%= f.text_field :title, autofocus: true %>
  </div>

  <div class="field text-left">
    <%= f.label :location, :class => 'login-label' %>
    <%= f.text_field :location, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
