<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, value: project.title || "", placeholder: "My Awesome Project" %>
  </div>

  <div class="address">
    <%= f.label :location %>
    <%= f.text_field :location, autocomplete: "off", value: project.location ||  "", placeholder: "My Neighborhood" %>
  </div>

  <div class="field">
    <%= f.label :goal_amount %>
    <%= f.text_field :goal_amount, value: project.goal_amount || "", placeholder: "$100.00" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
