<div class="card">

  <p id="notice"><%= notice %></p>

  <h1>Projects</h1>

  <ul class="list-group">
    <% @projects.each do |project| %>
      <li class="list-group-item">
        <h3>
          <% klazz = project.money_raised > project.goal_amount ? "label-success" : "label-primary" %>
          <span class="label pull-right <%= klazz %>"><%= project.money_raised_formatted %></span>
          <a href="<%= project_path(project) %>">
            <%= project.title %>
          </a>
        </h3>
        <h5><%= project.location %></h5>
      </li>
    <% end %>

  </ul>

<%= link_to 'New Project', new_project_path %>


  <br>

  <%= link_to 'New Project', new_project_path %>
  <a rel="nofollow" data-method="delete" href="/users/sign_out">Sign Out</a>

</div>
>>>>>>> 8d6718e8f0c64ab77cf6d16c5e5b4da7dfbc574f
